@{
    ViewBag.Title = "About";
}
<div class="container-fluid aboutpage">
    <h2>@ViewBag.Title Us</h2>
    <h3>N7 Consumer Reports Team</h3>

    <p>Careful. There goes the next Shadow Broker. Did I mention salarians used to lick their eyes? How far they have come. Laugh it up, Garrus. Well, you look good. Ah, the benefits of a redundant nervous system! Oh. It must’ve been painful, then. But you’re standing here, and you’ve got a strong new ship. Takes me back to the old days. Us against the unknown, killing it with big guns. Good times.

Can it wait for a bit? I’m in the middle of some calibrations. You let someone get that close, it just means they need a shorter knife. Lonely and alive works just fine, thanks. When you’re young, you go looking for every fight you can. You get older, you realize that the best fights find you. Primary defense systems are offline. We can save the Normandy, Mr. Moreau, but you must help me. Give me the ship. They will exterminate your species because their gods tell them to. You cannot negotiate with them. They do not share your pity, remorse, or fear.

I will fight and struggle all my life. That is my fate. When I die, it will not be in bed. I am at peace with that.. We’re all hoping you can do the impossible, Shepard. No pressure. Wrex, forgive the impertinence, but you are not like the krogan described in the stories on the flotilla. Great. Bugs are writing songs about you. Mark my words, Shepard, my ancestors are going to hear about this. Unless that speed lets them outrun bullets, I’m more inclined to stick with nice solid armor and a big gun.</p>
</div>