@{
    ViewBag.Title = "Contact";
}
<div class="container-fluid contactpage">
    <h2>@ViewBag.Title Us!</h2>


    <address>
        One N7 Way<br />
        N7 Headquarters, The Citadel 009313-7726<br />
        <abbr title="Phone">P:</abbr>
        555.555.0100
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@N7.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@N7.com</a>
    </address>
</div>