@{
    ViewBag.Title = "Home Page";
}

@**Jumbotron*@
    <div class="jumbotron homejumbotron">
        <div class="homejumbofont">
            <h1>N7</h1>
            <p class="lead">Consumer Reports</p>
        </div>
    </div>

@*Home Buttons*@
    <div class="homebuttons">
    <div class="col-md-4">
        <h2>REVIEWS</h2>
        <p>
            Check out the latest reviews for weapons, armor, and tech! Feel free to write your own reviews about experiences you've had with any weapons, armor, or tech.
        </p>
        <p><a class="btn btn-default" href="~/Reviews">Consumer Reviews &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>CODEX</h2>
        <p>The Codex is the focal point for background information within Mass Effect, Mass Effect 2 and Mass Effect 3. In Mass Effect 3, the Codex is integrated into the Journal.</p>
        <p><a class="btn btn-default" href="http://masseffect.wikia.com/wiki/Codex" target="_blank">Browse the Codex &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>ABOUT US</h2>
        <p>Find out more information about the entire team here at N7 Headquarters and the story behind the creation of N7 Consumer Reports.</p>
        <p><a class="btn btn-default" href="~/Home/About">Learn more &raquo;</a></p>
    </div>
</div>
