body {
    padding-top: 50px;
    padding-bottom: 20px;
    background: url(http://www.publicdomainpictures.net/pictures/130000/velka/charcoal-background.jpg) no-repeat center center fixed; 
    background-size: cover;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*Hide font during refresh*/
.wf-loading h1 {
            visibility: hidden;
        }

        .wf-active h1, .wf-inactive h1 {
            visibility: visible;
            font-family: 'Roboto';
        }

/*Jumbotron background image*/
.homejumbotron{
    background-image: url(https://i.ytimg.com/vi/29S2pJTJ1B8/maxresdefault.jpg);
    background-size:1085px;
    
}

/*Jumbotron font*/
.homejumbofont{
    font-family: anton;
    font-size:24px;
    color:white;
}
/*Primary font scheme for pages*/
.homebuttons,.revcreate,.reviewlead,.details,.contactpage,.aboutpage,.catcreate,.catindex,.catdetails,.catedit,.revedit{
    color:white;
    font-family:Merriweather;
}

